/*----------------
 * Color palette
 *----------------
 */
:root {
	--primary-light: #ffffff;
	--secondary-light: #1664d6;
	--accent-light: #dd375b;
	--primary-dark: #262322;
	--neutral-color: #797979;
	--text-black: rgb(0, 0, 0);
}

#form-logo {
	display: flex;
	justify-content: center;
	height: 5rem;
	margin-top: 1rem;
}

body {
	background: rgb(63, 200, 251);
	background: linear-gradient(50deg,
			rgba(63, 200, 251, 0.8) 0%,
			rgba(252, 70, 215, 0.8) 50%,
			rgba(252, 225, 70, 0.8) 100%);
	animation: gradient 180s ease infinite;
	background-size: 300% 300%;
}

#loadingMsg {
	margin: 0;
	margin-top: 1rem;
	text-align: center;
	color: var(--accent-dark);
}

#postID {
	font-size: xx-small;
	color: var(--neutral-color);
	font-style: italic;
}

#form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	background: rgba(255, 255, 255, 0.456);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
	display: none;
}

#file-container {
	box-sizing: border-box;
	color: #ffffff;
	background: #797979;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	padding: 0.4rem;
	width: 100%;
	font-variant: small-caps;
	border-radius: 0.5rem;
	cursor: pointer;
}

form input[type="text"] {
	color: var(--primary-dark);
	box-sizing: border-box !important;
	border: none !important;
	border-bottom: 2px solid var(--accent-light) !important;
	padding: 0.3rem !important;
	width: 100% !important;
	background-color: rgba(255, 255, 255, 0);
}

h3 {
	margin: 0.7rem 0 0.1rem !important;
	font-variant: small-caps !important;
}

#submit,
#cancelBtn {
	width: clamp(100px, 25%, 200px) !important;
}

/*----------------
 * Mobile layout
 *----------------
 */
@media only screen and (max-width: 844px) {
	#input-container {
		width: 95% !important;
	}

	textarea {
		height: 0.1vh;
	}

	#form-container {
		width: 95% !important;
		overflow-y: scroll;
	}
}

/*----------------
 * Desktop layout
 *----------------
 */
@media only screen and (min-width: 845px) {
	#input-container {
		width: 75% !important;
	}
}