#form-logo {
  display: flex;
  justify-content: center;
  height: 5rem;
  margin-top: 1rem;
}

body {
  background: rgb(63, 200, 251);
  background: linear-gradient(50deg,
      rgba(63, 200, 251, 0.8) 0%,
      rgba(252, 70, 215, 0.8) 50%,
      rgba(252, 225, 70, 0.8) 100%);
  animation: gradient 60s ease infinite;
  background-size: 300% 300%;
}

#input-container {
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}